fastapi==0.103.1
uvicorn[standard]==0.23.2
gunicorn==21.2.0
openpyxl==3.1.2
boto3==1.26.150 
python-multipart==0.0.6
fsspec==2023.6.0
s3fs==2023.6.0
requests==2.28.1
opencv-python==4.8.0.76
torch==2.0.1
torchvision==0.15.2
azure-storage-blob==12.18.1
httpx==0.25.0
pytest==7.4.2